@charset "UTF-8";
* {
  text-decoration: none !important;
  list-style: none !important; }

/*---------------------------NavBar---------------------------*/
.navbar {
  background-color: #7fffd4; }
  .navbar .list-a-text {
    font-weight: bold !important; }
  .navbar .list-a-text:hover {
    color: #8a2be2 !important; }
  .navbar .imagen-logo {
    width: 50px;
    height: 50px; }
  .navbar .h1-logo {
    font-weight: bold;
    font-size: 30px; }

/*---------------------------Fin NavBar---------------------------*/
/*---------------------------Tamaños imagenes---------------------------*/
/*-------Mixins------*/
.foto-pc {
  height: 200px;
  width: 200px; }

.imagen-oferta {
  height: 250px;
  width: 250px; }

.imagen-novedad {
  height: 200px;
  width: 200px; }

.local-foto {
  height: 400px;
  width: 100%; }

.logos-de-marcas {
  height: 200px;
  width: 300px; }

/*-------Fin Mixins------*/
/*---------------------------Fin Imagenes---------------------------*/
/*---------------------------Main---------------------------*/
/*-------------------Section 1-------------------*/
.section-1 {
  margin-bottom: 40px; }

h2 {
  text-align: left;
  background-color: #483d8b;
  color: #fff; }

.h2-text-center {
  text-align: center; }

.p-texto-contact {
  font-size: 20px; }

.card {
  background-color: #b5b5b5 !important; }

/*-------------------Fin Section 1-------------------*/
/*------------------- Section 2-------------------*/
.text-left {
  text-align: start; }

/*-------- Extend----------*/
.button, .button-comprar, .button-comprar2, .button-comprar3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  box-shadow: 2px 2px 10px blueviolet; }

.button-comprar {
  background-color: #7fecffe0; }

.button-comprar2 {
  background-color: #0dff197c; }

.button-comprar3 {
  background-color: #4bb631e0; }

/*--------Fin Extend----------*/
/*-------- Mapa --------*/
.color-telefono {
  color: #6a1474; }

.color-email {
  color: #277d80; }

.color-envios {
  color: #137924; }

/*-------- Fin Mapa--------*/
/*------------------- Fin Section 2-------------------*/
/*------------------- Section 3-------------------*/
.color-pc {
  background-color: #7fffd4; }

/*-------carrusel------*/
.section-marcas {
  display: flex;
  justify-content: space-between; }

/*------Fin Carrusel------*/
/*------------------- Fin Section 3-------------------*/
/*---------------------------Fin Main---------------------------*/
/*--------------- Transform ---------------*/
.p-contacto {
  font-weight: bold;
  font-size: 30px; }

.p-contacto-trans {
  display: inline-block;
  position: relative; }

.p-contacto-trans::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #483d8b;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out; }

.p-contacto-trans:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

/*-------- Fin transform --------*/
/*---------------------------Formulario---------------------------*/
.imagenLogin {
  height: 100px;
  width: 100px; }

.imagenLoginPoss {
  text-align: center; }

.form-poss {
  background-color: #7fffd4;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px; }

.text-label {
  font-weight: bold; }

/*---------------------------Formulario---------------------------*/
/*---------------------------Footer---------------------------*/
footer {
  background: linear-gradient(0deg, #7fffd4 30%, #fff 100%);
  margin-top: auto;
  padding: 5px;
  text-align: left; }
  footer p {
    font-weight: bold; }

/*---------------------------Fin Footer---------------------------*/
/*---- Media queries ----*/
@media (max-width: 1020px) {
  .logos-de-marcas {
    height: 200px;
    width: 150px; }
  .media-display1 {
    display: none; } }

@media (max-width: 991px) {
  .card {
    width: 80% !important; } }

@media (min-width: 769px) {
  .imagen-oferta {
    width: 400px;
    height: 400px; } }

@media (max-width: 620px) {
  .media-display2 {
    display: none; }
  .logos-de-marcas {
    height: 100px;
    width: 100px; } }
