@charset "UTF-8";
* {
  text-decoration: none !important;
  list-style: none !important; }

/*---------------------------NavBar---------------------------*/
.navbar {
  background-color: #7fffd4; }
  .navbar .list-a-text {
    font-weight: bold !important; }
  .navbar .list-a-text:hover {
    color: #8a2be2 !important; }
  .navbar .imagen-logo {
    width: 50px;
    height: 50px; }
  .navbar .h1-logo {
    font-weight: bold;
    font-size: 30px; }

/*---------------------------Fin NavBar---------------------------*/
/*---------------------------Tamaños imagenes---------------------------*/
/*-------Mixins------*/
.foto-pc {
  height: 200px;
  width: 200px; }

.imagen-oferta {
  height: 250px;
  width: 250px; }

.imagen-novedad {
  height: 200px;
  width: 180px; }

.imagen-gift {
  height: 250px;
  width: 250px; }

.local-foto {
  height: 400px;
  width: 100%; }

.logos-de-marcas {
  height: 200px;
  width: 300px; }

.oferta-img {
  height: 100%;
  width: 100%; }

/*-------Fin Mixins------*/
/*---------------------------Fin Imagenes---------------------------*/
/*---------------------------Main---------------------------*/
/*-------------------Section 1-------------------*/
.section-1 {
  margin-bottom: 40px; }

h2 {
  text-align: left;
  background-color: #483d8b;
  color: #fff; }

.h2-text-center {
  text-align: center; }

.p-texto-contact {
  font-size: 20px; }

.button-comprar {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  box-shadow: 2px 2px 10px blueviolet;
  background-color: #7fecffe0; }

/*--------------Extend Productos-----------------*/
.p-productos, .p-productos-auris, .p-productos-mouse, .p-productos-teclado {
  text-align: center;
  font-size: 35px;
  font-style: italic;
  font-weight: bold; }

.p-productos-auris {
  color: #15db15; }

.p-productos-mouse {
  color: #5c6ecf; }

.p-productos-teclado {
  color: #d65672; }

/*--------------Fin Extend Productos-----------------*/
/*---------------------------------------Cards productos-------------------------*/
/*-------- Mapa buttons prod--------*/
.color-button-auris {
  background-color: #15db15 !important; }

.color-button-mouse {
  background-color: #5c6ecf !important; }

.color-button-teclado {
  background-color: #d65672 !important; }

/*-------- Fin Mapa button prod--------*/
.possCards {
  text-align: center !important; }

.card {
  background-color: #b5b5b5 !important;
  text-align: center !important; }

/*-------------------------------------Fin Cards productos-----------------------*/
/*-------------------Fin Section 1-------------------*/
/*------------------- Section 2-------------------*/
.text-left {
  text-align: start; }

/*------------------- Fin Section 2-------------------*/
/*------------------- Section 3-------------------*/
.color-pc {
  background-color: #7fffd4; }

/*-------carrusel------*/
.section-marcas {
  display: flex;
  justify-content: space-between; }

.carrouselPoss {
  text-align: center; }

.w-carrousel {
  width: 60%; }

.carrito-carrousel-widht {
  width: 50%; }

/*------Fin Carrusel------*/
/*------------------- Fin Section 3-------------------*/
/*------Section 5------*/
.oferta-img {
  padding-top: 20px;
  padding-bottom: 40px; }

.imagen-gift {
  padding-bottom: 10px; }

/*---------------------------Fin Main---------------------------*/
/*--------------- Transform ---------------*/
.p-contacto {
  font-weight: bold;
  font-size: 30px; }

.p-contacto-trans {
  display: inline-block;
  position: relative; }

.p-contacto-trans::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #483d8b;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out; }

.p-contacto-trans:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

/*-------- Fin transform --------*/
/*---------------------------Formulario---------------------------*/
.padding-form {
  padding-top: 110px; }

.imagenLogin {
  height: 150px;
  width: 150px; }

.imagenLoginPoss {
  text-align: center; }

.form-poss {
  background-color: #7fffd4;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px; }

.text-label {
  font-weight: bold; }

/*---------------------------Formulario---------------------------*/
/*---------------------------Footer---------------------------*/
footer {
  background: linear-gradient(0deg, #7fffd4 30%, #fff 100%);
  margin-top: auto;
  padding: 5px;
  text-align: left; }
  footer p {
    font-weight: bold; }

/*---------------------------Fin Footer---------------------------*/
/*---- Media queries ----*/
@media (max-width: 1020px) {
  .logos-de-marcas {
    height: 200px;
    width: 150px; }
  .media-display1 {
    display: none; } }

/* -------------Cards-------------*/
@media (max-width: 1200px) {
  .card {
    width: 18rem !important; }
  .imagen-gift {
    height: 150px;
    width: 150px; } }

@media (max-width: 990px) {
  .card {
    width: 14rem !important; } }

@media (max-width: 770px) {
  .card {
    width: 10rem !important; }
  .imagen-gift {
    height: 400px;
    width: 290px; } }

@media (max-width: 575px) {
  .card {
    width: 100% !important; }
  .w-carrousel {
    width: 100%; } }

/* ---------------Fin Cards----------------*/
@media (min-width: 769px) {
  .imagen-oferta {
    width: 400px;
    height: 400px; } }

@media (max-width: 620px) {
  .media-display2 {
    display: none; }
  .logos-de-marcas {
    height: 100px;
    width: 100px; } }

/*-------------Carrousel------------------*/
