/*---------------------------Footer---------------------------*/
footer {
    background:linear-gradient(0deg, $color-1 30%, #fff 100% ) ;
    margin-top: auto;
    padding: 5px;
    text-align:left;

    p{
        font-weight: $font1;
    }
}
/*---------------------------Fin Footer---------------------------*/