/*---------------------------Formulario---------------------------*/
.imagenLogin{
    height: 100px;
    width: 100px;
}

.imagenLoginPoss{
    text-align: center;
}

.form-poss{
    background-color: #7fffd4;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px ;
}

.text-label{
    font-weight: bold;
}
/*---------------------------Formulario---------------------------*/