/*---------------------------Tamaños imagenes---------------------------*/
.foto-pc{
    width: 200px;
    height: 200px;
}

.imagen-oferta{
    width: 250px;
    height:250px;
}

.imagen-novedad{
    width: 200px;
    height: 200px;
}

.local-foto{
    height: $spacing-5;
    width: 100%;
}
.logos-de-marcas{
    height: 200px;
    width: 300px;
}

/*---------------------------Fin Imagenes---------------------------*/
