/*---- Media queries ----*/
@media (max-width:1020px){

    .logos-de-marcas{
        height: 200px;
        width: 150px;
    }
    .media-display1{
        display: none;
    }
}

/* -------------Cards-------------*/ 
@media (max-width: 1200px) {
    .card{
        width: 18rem !important;
    }
    .imagen-gift{
        height: 150px;
        width: 150px;
    }
}
@media (max-width: 990px) {
    .card{
        width: 14rem !important;
    }
}
@media (max-width: 770px) {
    .card{
        width: 10rem !important;
    }
    .imagen-gift{
        height: 400px;
        width: 290px;
    }
}

    
@media (max-width: 575px) {
    .card{
        width: 100% !important;
    }
    .w-carrousel{
        width: 100%;
    }
}
/* ---------------Fin Cards----------------*/ 
@media (max-width:620px){
.media-display2{
        display: none;
    }
.logos-de-marcas{
    height: 100px;
     width: 100px;
    }
}

/*-------------Carrousel------------------*/
